:root {
  --bg: #000000;
  --fg: #c0c0c0;
  --red: #800000;
  --red-l: #FF0000;
  --green: #008000;
  --blue: #000080;
  --purple: #800080;
  --white: #ffffff;

  --width: 700px;
}

@font-face {
  font-family: "IBM VGA8";
  src: url("fonts/ibm_vga8.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "IBM VGA8", monospace;
}

body {
  background-color: var(--bg);
  color: var(--fg);
}

header {
  border-bottom: var(--fg) solid 1px;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  left: 8px;
  right: 8px;
  top: 0;
  height: 5vh;
  background-color: var(--bg);
}

nav{
  display: flex;
  justify-content: space-around;
  max-width: var(--width);
  min-width: var(--width);
  font-size: 2vh;
}


a {
  color: var(--white); 
}


main {
  border: var(--fg) solid 1px;
  padding:  20px;
  max-width: var(--width);
  min-width: var(--width);
  margin: 7vh auto;
}

main, nav, #copyright {
  max-width: var(--width);
  width: min(95%, var(--width)); 
  min-width: 0;                 
}


#logo-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

#logo { 
  flex-shrink: 1;
  font-size: 16px;
}


footer {
  border-top: var(--fg) solid 1px;
  position: fixed;
  left: 8px;
  right: 8px;
  bottom: 0;
  height: 5vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--bg);
}


b {
  color: var(--white);
}

.fetch {
  display: flex;
  color: var(--white);
}



.red {
  color: var(--red-l);
}

#fetcha-header {
  text-align: center;
  font-size: 2vh;
}

#projects-header {
  text-align: center;
  font-size: 2vh;
}



